/* -- Global rules -- */
* {
  border: none;
  font-family: 'JetbrainsMono Nerd Font';
  font-size: 14px;
  min-height: 8px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

/* - Genera rules for visible modules -- */
#custom-archicon,
#clock,
#cpu,
#memory,
#disk,
#temperature,
#idle_inhibitor,
#pulseaudio,
#pulseaudio_slider,
#network,
#battery {
  color: #161320;
  margin-top: 6px;
  margin-bottom: 6px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

/* Separation to the left */
#custom-archicon,
#cpu,
#idle_inhibitor {
  margin-left: 5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* Separation to the rigth */
#clock,
#temperature,
#battery {
  margin-right: 5px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* -- Specific styles -- */

/* Modules left */
#custom-archicon {
  font-size: 18px;
  color: #89b4fa;
  background: #161320;
  padding-right: 17px;
}

#clock {
  background: #abe9b3;
}

#cpu {
  background: #96cdfb;
}

#memory {
  background: #ddb6f2;
}

#disk {
  background: #f5c2e7;
}

#temperature {
  background: #f8bd96;
}

/* Modules center */
#workspaces {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  margin: 6px 5px;
  padding: 0px 6px;
}

#workspaces button {
  color: #ea96ff;
  background: transparent;
  padding: 4px 4px;
  transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
  color: #cf36e4;
}

#workspaces button.active {
  color: #e944ff;
}

#workspaces button:hover {
  color: rgb(235, 112, 252);
}

/* Modules right */
#taskbar {
  background: transparent;
  border-radius: 10px;
  padding: 0px 5px;
  margin: 6px 5px;
}

#taskbar button {
  padding: 0px 5px;
  margin: 0px 3px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

#taskbar button.active {
  background: rgba(34, 36, 54, 0.5);
}

#taskbar button:hover {
  background: rgba(34, 36, 54, 0.5);
}

#idle_inhibitor {
  background: #b5e8e0;
  padding-right: 15px;
}

#pulseaudio {
  color: #1a1826;
  background: #f5e0dc;
}

#pulseaudio_slider {
  color: #1a1826;
  background: #e8a2af;
}

#network {
  background: #cba6f7;
  padding-right: 13px;
}

#battery {
  background: #a6e3a1;
  padding-right: 15px;
}

/* === Optional animation === */
@keyframes blink {
  to {
    background-color: #bf616a;
    color: #b5e8e0;
  }
}
