@import url("colors.css");

window {
  margin: 0px;
  background: @background;
  border: 1px solid @accent;
  border-radius: 10px;
}

#input {
  background: @background;
  border: 1px solid @accent;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  color: @text-muted;
  font-size: 16px;
  margin-bottom: 10px;
  padding: 5px 10px;
}

#scroll {
  padding-bottom: 10px;
  padding-left: 6px;
  padding-right: 6px;
  color: @foreground;
}

#entry {
  color: @foreground;
  border-radius: 8px;
  padding: 4px 2px;
  margin: 2px 5px;
  transition: background 60ms linear, color 60ms linear;
}

#entry:selected {
  background: @accent;
  color: @on-accent;
}

#text:selected {
  color: @on-accent;
}
